@charset "utf-8";
* {
    margin:0;
    padding:0;
}

html {
    margin:0;
    padding:0;

}

body {
    margin:0;
    padding:0;
    

}

header {
    margin:0;
    padding: 0;
    width:100%;
    height:100px;
    border-bottom:solid 1px #98DDCA;
}
a {
    color:#000;
    transition:all 3s;
}
a , a:hover {
    text-decoration: none;
}
header h1 a {
    color:#808080;
    line-height:100px;
}
.container {
    width:100%;
    max-width:600px;
    margin:0 auto;
    text-align:center;
    
}
.fa {
    margin-right:10px;
}
#start {
    margin-top:100px;
    margin-bottom:100px;
}

#menu {
    display:block;
    border-top:solid 2px #D5ECC2;
    padding-top:20px;
}

tr {
    display:flex;
    justify-content: space-around;
}
th {
    width:25%;
    text-align:center;
}
td {
    width:25%;
}
.play {
    margin-top:30px;
    display:flex;
    justify-content: center;
    border:1px solid #98DDCA;
}
.play p {
    font-size:25px;
    margin:30px;
    color:#FFAAA7
}
.play .box {
    border:2px solid #98DDCA;
    border-radius:30%;
    padding:30px;
    margin:20px 0
}
.play span {
    display:none;
}
.ans {
    display:flex;
    justify-content: center;
}
.ans p {
    font-size:25px;
    margin:30px;
    border-radius:40%;
    background-color: #98DDCA;
    padding:25px 30px;
    font-weight:bold;
    box-shadow:0 5px #006633;
    cursor:pointer;
}
.ans a {
    color:white;
}
.ans p:active {
    box-shadow:none;
    position:relative;
    top:5px;
}
figure img {
    display:block;
    width:200px;
    height:200px;
    margin:auto;
    line-height:200px;
}

.red {
    color:red;
}
ul {
    list-style:none;
    text-align:left;
    margin-left:30%;
}